<!--

<h1>Teachers</h1>

<table>
  <tr>
    <th>Teachers</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.name %></td>
    <td><%= teacher.id %></td>
  </tr>
<% end %>
</table> -->
